/* ------------------------------ */
/* Imports                        */
/* ------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

/* ------------------------------ */
/* Custom properties              */
/* ------------------------------ */
:root {
  /* Colors */
  --clr-300: 187, 68%, 56%;
  --clr-400: 187, 100%, 42%;
  --clr-500: 187, 100%, 32%;
  --clr-600: 187, 54%, 21%;
  --clr-black: 0, 0, 0;
  --clr-white: 0, 0, 100;

  /* Font Sizes */
  --fs-900: 6.25rem;
  --fs-800: 3.5rem;
  --fs-700: 2rem;
  --fs-600: 1.75rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;

  /* Font Families */
  --ff-sans-serif: "Ubuntu", serif;
}

/* ------------------------------ */
/* Reset                          */
/* ------------------------------ */

/* Box Sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Set up the body */
body {
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-400);
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Make images eaiser to work with */
img,
picture {
  max-width: 100%;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------ */
/* Utility classes                */
/* ------------------------------ */

/* General */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* Colors */

.bg-300 {
  background-color: hsl(var(--clr-300));
}

.bg-400 {
  background-color: hsl(var(--clr-400));
}

.bg-500 {
  background-color: hsl(var(--clr-500));
}

.bg-600 {
  background-color: hsl(var(--clr-600));
}

.text-clr-300 {
  color: hsl(var(--clr-300));
}

.text-clr-400 {
  color: hsl(var(--clr-400));
}

.text-clr-500 {
  color: hsl(var(--clr-500));
}

.text-clr-600 {
  color: hsl(var(--clr-600));
}

/* Typography */

.ff-sans-serf {
  font-family: var(--ff-sans-serif);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}
