/* ------------------------------ */
/* Imports                        */
/* ------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

/* ------------------------------ */
/* Custom properties              */
/* ------------------------------ */
:root {
  /* Colors */
  --clr-300: 187 68% 56%;
  --clr-400: 187 100% 42%;
  --clr-500: 187 100% 32%;
  --clr-600: 187 54% 21%;
  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;

  /* Font Sizes */
  --fs-900: 3.5rem;
  --fs-800: 3.5rem;
  --fs-700: 2rem;
  --fs-600: 1.75rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;

  /* Font Families */
  --ff-sans-serif: "Ubuntu", serif;
}

@media (min-width: 45rem) {
  :root {
    --fs-900: 6.25rem;
  }
}

/* ------------------------------ */
/* Reset                          */
/* ------------------------------ */

/* Box Sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Set up the body */
body {
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-400);
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Make images eaiser to work with */
img,
picture {
  max-width: 100%;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------ */
/* Utility classes                */
/* ------------------------------ */

/* General */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* Colors */

.bg-300 {
  background-color: hsl(var(--clr-300));
}

.bg-400 {
  background-color: hsl(var(--clr-400));
}

.bg-500 {
  background-color: hsl(var(--clr-500));
}

.bg-600 {
  background-color: hsl(var(--clr-600));
}

.text-clr-300 {
  color: hsl(var(--clr-300));
}

.text-clr-400 {
  color: hsl(var(--clr-400));
}

.text-clr-500 {
  color: hsl(var(--clr-500));
}

.text-clr-600 {
  color: hsl(var(--clr-600));
}

.text-clr-wht {
  color: hsl(var(--clr-white));
}

/* Typography */

.ff-sans-serf {
  font-family: var(--ff-sans-serif);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fw-700 {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 1100px;
}

/* ------------------------------ */
/* Compontents                    */
/* ------------------------------ */

/* Primary Header */

.logo {
  margin: 2rem 0;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.primary-navigation {
  list-style-type: none;
  gap: clamp(1.5rem, 5vw, 2.5rem);
  margin: 0;
}

.primary-navigation a,
.logo a {
  text-decoration: none;
  color: hsl(var(--clr-white));
}

.primary-navigation a:hover {
  color: hsl(var(--clr-600));
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35rem) {
  .primary-navigation {
    background-color: hsl(var(--clr-400));
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    gap: 4rem;
    padding: min(20rem, 15vh) 2rem;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1.5rem;
    top: 2rem;
    background-color: transparent;
    border: 0;
    background-image: url(/img/icon-hamburger.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 1.5rem;
    aspect-ratio: 1;
    transition: 500ms ease-in;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(/img/icon-close.svg);
  }
}

/* Hero */
.hero {
  position: relative;
  z-index: -2;
  height: 90vh;
  background-image: url(/img/hero-background.jpg);
  background-position: 35% center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  background-color: hsla(var(--clr-black) / 0.6);
}

.hero-title {
  text-align: center;
}

.hero-title span {
  display: block;
}

/* Cards */

.projects-card {
  flex-direction: column;
  border-radius: 25px;
  padding: 1rem;
  box-shadow: hsla(var(--clr-600) / 0.6) 0 8px 16px 0px;
}
.projects-card--image {
  display: flex;
  justify-content: center;
  height: 20rem;
  max-width: 30rem;
}

.projects-card--image img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: hsla(var(--clr-600) / 0.6) 0 -8px 16px 0px;
  height: 100%;
  width: 100%;
}

.projects-card--title {
  margin-top: 0.6rem;
}

.projects-card--description {
  line-height: 2rem;
  letter-spacing: 2.2;
}

.projects-card--footer {
  margin-top: 0.6rem;
  justify-content: space-between;
  margin-top: auto;
}

.projects-card--links i {
  text-decoration: none;
  color: hsl(var(--clr-white));
  transition: color 0.5s ease;
}

.projects-card--links a i:hover {
  color: hsl(var(--clr-600));
}

@media (min-width: 45rem) {
  .projects-card {
    max-width: 30rem;
  }
}

/* Footer */

.footer {
  margin-top: 3rem;
  text-align: center;
  padding-block: 0.5rem;
}

/* ------------------------------ */
/* Sections                       */
/* ------------------------------ */

/* About me */
.about-me {
  margin-top: 2rem;
  place-items: center;
  grid-template-areas:
    "title"
    "image"
    "content";
}

.about-me-title {
  grid-area: title;
}

.about-me-text {
  line-height: 2rem;
  letter-spacing: 2.2;
  grid-area: content;
}

.about-me-picture {
  grid-area: image;
  margin-block: 1rem;
}

.about-me-img {
  border-radius: 50%;
  width: 20rem;
  aspect-ratio: 1;
}

@media (min-width: 45rem) {
  .about-me {
    grid-template-columns: minmax(2rem, 1fr) minmax(0, 40rem) minmax(0, 40rem) minmax(2rem, 1fr);
    grid-template-areas:
      "title title title ."
      ". content image .";
    align-items: center;
  }

  .about-me-title {
    justify-self: start;
    margin-bottom: 2rem;
  }

  .about-me-picture {
    justify-self: end;
  }
}

/* Projects */

.projects {
  margin-top: 2rem;
}

.projects-container {
  margin-top: 2rem;
  flex-direction: column;
  gap: 2rem;
}

.projects-title {
  margin-inline: auto;
  text-align: center;
}

@media (min-width: 45rem) {
  .projects-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects-title {
    text-align: left;
  }
}

/* Contact */

.contact {
  margin-top: 3rem;
  text-align: center;
}

.contact-icons-container {
  justify-content: center;
}

.contact-icons-container i {
  transition: color 0.5s ease;
  margin: 1rem;
}

.contact-icons-container i:hover {
  color: hsl(var(--clr-600));
}

@media (min-width: 45rem) {
  .contact-title {
    text-align: left;
  }
  .contact-icons-container {
    justify-content: start;
  }
}
